body {
  background: #FACCC4;
}
#about{
  height:100%;
  background-color: #E0B6AF;
  padding-top:50px;
  padding-bottom:50px;
}
#price{
  height:100%;
  background-color:#BA9791;
}
#contact{
  background-color: #7A645F;
  height:100%;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
}
.bg-color{
  background: transparent !important;
  border:0;
}
.navbar a{
  font-size: 2rem;
  color:#fff !important;
}
